<%= form_for(cadastro_unidade_rpa) do |f| %>
  <% if cadastro_unidade_rpa.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(cadastro_unidade_rpa.errors.count, "error") %> prohibited this cadastro_unidade_rpa from being saved:</h2>

      <ul>
      <% cadastro_unidade_rpa.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <% render 'layouts/error_messages', object: f.object %>

  <!-- formulário do arquivo cadastro_unidade_rpas
  OBS: sendo utilizado para a tabela de Unidades RPA-->

  <div class="form-group form-horizontal">
    <label for="">RPA:</label>
    <br>
    <%= f.select :cadastro_rpa_id, @cadastro_rpas.select {|rpa| rpa.id != f.object.id}.collect {|rpa| [rpa.matricula_rpa.titleize, rpa.id]}, {include_blank:'Selecione a Matrícula da RPA'}, {class:'form-control'} %>
  </div>

  <div class="form-group form-horizontal">
    <label for="">Nome da Unidade:</label>
    <br>
    <%= f.text_field :identificador_rpa %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
