<h1>Editando Cadastro de Unidade RPA</h1>

<%= render 'form', cadastro_unidade_rpa: @cadastro_unidade_rpa %>

<%= link_to 'Mostrar', @cadastro_unidade_rpa %> |
<%= link_to 'Voltar', cadastro_unidade_rpas_path %>
