<p id="notice"><%= notice %></p>

<h1>Unidades Que Possui RPA</h1>

<table class="table table-bordered table-hover table-condensed table-responsive">
  <thead>
    <tr>
      <th>Nome da Unidade</th>

      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @cadastro_unidade_rpas.each do |cadastro_unidade_rpa| %>
      <tr>
        <td><%= cadastro_unidade_rpa.identificador_rpa %></td>

        <td><%= link_to 'Mostrar', cadastro_unidade_rpa %></td>
        <td><%= link_to 'Editar', edit_cadastro_unidade_rpa_path(cadastro_unidade_rpa) %></td>
        <td><%= link_to 'Excluir', cadastro_unidade_rpa, method: :delete, data: { confirm: 'Voce tem certeza?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Nova Unidade Rpa', new_cadastro_unidade_rpa_path %>
