<p id="notice"><%= notice %></p>

<p>
  <strong>Nome da Unidade:</strong>
  <br>
  <%= @cadastro_unidade_rpa.identificador_rpa %>
</p>

<%= link_to 'Editar', edit_cadastro_unidade_rpa_path(@cadastro_unidade_rpa) %> |
<%= link_to 'Voltar', cadastro_unidade_rpas_path %>
