<%= form_for(levantamento_risco) do |f| %>
  <% if levantamento_risco.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(levantamento_risco.errors.count, "error") %> prohibited this levantamento_risco from being saved:</h2>

      <ul>
      <% levantamento_risco.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <% render 'layouts/error_messages', object: f.object %>

  <!-- formulário do arquivo levantamento_riscos
  OBS: sendo utilizado para a tabela de Levantamento de Riscos-->

  <div class="form-group form-horizontal">
    <label for="">Evento:</label>
    <br>
    <%= f.select :event_id, @events.select {|event| event.id != f.object.id}.collect {|event| [event.nome_evento.titleize, event.id]}, {include_blank:'Selecione o Evento'}, {class:'form-control'} %>
  </div>

  <div class="form-group form-horizontal">
    <label for="">Condições climáticas:</label>
    <br>
    <%= f.text_field :condicoes_climaticas %>
  </div>

  <div class="form-group form-horizontal">
    <label for="">Quantidades de pessoas:</label>
    <br>
    <%= f.number_field :quantidade_pessoas %>
  </div>

  <div class="form-group form-horizontal">
    <label for="">Perimetro de voo:</label>
    <br>
    <%= f.text_field :perimetro_voo %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
