<h1>Editando Cadastro de Levantamento de Risco</h1>

<%= render 'form', levantamento_risco: @levantamento_risco %>

<%= link_to 'Mostrar', @levantamento_risco %> |
<%= link_to 'Voltar', levantamento_riscos_path %>
