<p id="notice"><%= notice %></p>

<h1>Levantamento de Riscos</h1>

<table class="table table-bordered table-hover table-condensed table-responsive">
  <thead>
    <tr>
      <th>Condições climáticas</th>
      <th>Quantidades de pessoas</th>
      <th>Perimetro de voo</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @levantamento_riscos.each do |levantamento_risco| %>
      <tr>
        <td><%= levantamento_risco.condicoes_climaticas %></td>
        <td><%= levantamento_risco.quantidade_pessoas %></td>
        <td><%= levantamento_risco.perimetro_voo %></td>
        <td><%= link_to 'Mostrar', levantamento_risco %></td>
        <td><%= link_to 'Editar', edit_levantamento_risco_path(levantamento_risco) %></td>
        <td><%= link_to 'Excluir', levantamento_risco, method: :delete, data: { confirm: 'Você tem certeza?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Novo Levantamento Risco', new_levantamento_risco_path %>
