<p id="notice"><%= notice %></p>

<p>
  <strong>Condições climáticas:</strong>
  <br>
  <%= @levantamento_risco.condicoes_climaticas %>
</p>

<p>
  <strong>Quantidades de pessoas:</strong>
  <br>
  <%= @levantamento_risco.quantidade_pessoas %>
</p>

<p>
  <strong>Perimetro de voo:</strong>
  <br>
  <%= @levantamento_risco.perimetro_voo %>
</p>

<%= link_to 'Editar', edit_levantamento_risco_path(@levantamento_risco) %> |
<%= link_to 'Voltar', levantamento_riscos_path %>
