<%= form_for(autorizacao_voo) do |f| %>
  <% if autorizacao_voo.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(autorizacao_voo.errors.count, "error") %> prohibited this autorizacao_voo from being saved:</h2>

      <ul>
      <% autorizacao_voo.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<% render 'layouts/error_messages', object: f.object %>

<!-- formulário do arquivo autorizacao_voos
OBS: sendo utilizado para a tabela de parecer -->

  <div class="form-group form-horizontal">
    <label for="">Plano de Voo:</label>
    <br>
    <%= f.select :plano_de_voo_id, @plano_de_voos.select {|pdv| pdv.id != f.object.id}.collect {|pdv| [pdv.objetivo_operacao.titleize, pdv.id]}, {include_blank:'Selecione o Plano de voo'}, {class:'form-control'} %>
  </div>

  <div class="form-group form-horizontal">
    <label for="">Tipo de autorização:</label>
    <br>
    <%= select("autorizacao_voo","tipo_autorizacao",%w(1 2 3 Comando-PMPB), {include_blank:"Selecione"}) %>
  </div>

  <div class="form-group form-horizontal">
    <label for="">Numero da autorização:</label>
    <br>
    <%= f.number_field :numero_autorizacao %>
  </div>

  <div class="form-group form-horizontal">
    <label for="">Responsavel pela autorização:</label>
    <br>
    <%= f.text_field :responsavel_autorizacao %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
