<p id="notice"><%= notice %></p>

<h1>Parecer de Voos</h1>

<table class="table table-bordered table-hover table-condensed table-responsive">
  <thead>
    <tr>
      <th>Tipo de autorização</th>
      <th>Numero da autorização</th>
      <th>Responsavel pela autorização</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @autorizacao_voos.each do |autorizacao_voo| %>
      <tr>
        <td><%= autorizacao_voo.tipo_autorizacao %></td>
        <td><%= autorizacao_voo.numero_autorizacao %></td>
        <td><%= autorizacao_voo.responsavel_autorizacao %></td>
        <td><%= link_to 'Mostrar', autorizacao_voo %></td>
        <td><%= link_to 'Editar', edit_autorizacao_voo_path(autorizacao_voo) %></td>
        <td><%= link_to 'Excluir', autorizacao_voo, method: :delete, data: { confirm: 'Você tem certeza?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Novo Parecer Voo', new_autorizacao_voo_path %>
