<p id="notice"><%= notice %></p>

<p>
  <strong>Tipo de autorização:</strong>
  <br>
  <%= @autorizacao_voo.tipo_autorizacao %>
</p>

<p>
  <strong>Numero da autorização:</strong>
  <br>
  <%= @autorizacao_voo.numero_autorizacao %>
</p>

<p>
  <strong>Responsavel pela autorização:</strong>
  <br>
  <%= @autorizacao_voo.responsavel_autorizacao %>
</p>

<%= link_to 'Editar', edit_autorizacao_voo_path(@autorizacao_voo) %> |
<%= link_to 'Voltar', autorizacao_voos_path %>
