<%= form_for(cadastro_manutencao_rpa) do |f| %>
  <% if cadastro_manutencao_rpa.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(cadastro_manutencao_rpa.errors.count, "error") %> prohibited this cadastro_manutencao_rpa from being saved:</h2>

      <ul>
      <% cadastro_manutencao_rpa.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

    <% render 'layouts/error_messages', object: f.object %>

    <!-- formulário do arquivo cadastro_manutencao_rpas
    OBS: sendo utilizado para a tabela de Manutenção da RPA-->

  <div class="form-group form-horizontal">
    <label for="">RPA:</label>
    <br>
    <%= f.select :cadastro_rpa_id, @cadastro_rpas.select {|rpa| rpa.id != f.object.id}.collect {|rpa| [rpa.matricula_rpa.titleize, rpa.id]}, {include_blank:'Selecione a Matrícula da RPA'}, {class:'form-control'} %>
  </div>

  <div class="form-group form-horizontal">
    <label for="">Nome do responsavel:</label>
    <br>
    <%= f.text_field :nome_guarnicao %>
  </div>

  <div class="form-group form-horizontal">
    <label for="">Manutenção do rádio:</label>
    <br>
    <%= f.text_field :manutencao_radio %>
  </div>

  <div class="form-group form-horizontal">
    <label for="">Manutenção da bússola:</label>
    <br>
    <%= f.text_field :manutencao_bussola %>
  </div>

  <div class="form-group form-horizontal">
    <label for="">Manutenção do Acelerometro:</label>
    <br>
    <%= f.text_field :manutencao_acelerometro %>
  </div>

  <div class="form-group form-horizontal">
    <label for="">Manutenção do giroscopio:</label>
    <br>
    <%= f.text_field :manutencao_giroscopio %>
  </div>

  <div class="form-group form-horizontal">
    <label for="">Manutenção da firmware:</label>
    <br>
    <%= f.text_field :manutencao_firmware %>
  </div>

  <div class="form-group form-horizontal">
    <label for="">Manutenção da helice:</label>
    <br>
    <%= f.text_field :manutencao_helice %>
  </div>

  <div class="form-group form-horizontal">
    <label for="">Manutenção do protetor da helice:</label>
    <br>
    <%= f.text_field :manutencao_prot_helice %>
  </div>

  <div class="form-group form-horizontal">
    <label for="">Manutenção da carcaça:</label>
    <br>
    <%= f.text_field :manutencao_carcaca %>
  </div>

  <div class="form-group form-horizontal">
    <label for="">Manutenção do controle remoto:</label>
    <br>
    <%= f.text_field :manutencao_controle_remoto %>
  </div>

  <div class="form-group form-horizontal">
    <label for="">Manutenção da Telemetria:</label>
    <br>
    <%= f.text_field :manutencao_telemetria %>
  </div>

  <div class="form-group form-horizontal">
    <label for="">Manutenção do GPS:</label>
    <br>
    <%= f.text_field :manutencao_gps %>
  </div>

  <div class="form-group form-horizontal">
    <label for="">Manutenção do Gimbal:</label>
    <br>
    <%= f.text_field :manutencao_gimbal %>
  </div>

  <div class="form-group form-horizontal">
    <label for="">Tipo de controladora do RPA:</label>
    <br>
    <%= f.text_field :tipo_controladora_rpa %>
  </div>

  <div class="form-group form-horizontal">
    <label for="">Outros problemas:</label>
    <br>
    <%= f.text_area :outro_problema %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
