<h1>Editando Cadastro de Manutenção RPA</h1>

<%= render 'form', cadastro_manutencao_rpa: @cadastro_manutencao_rpa %>

<%= link_to 'Mostrar', @cadastro_manutencao_rpa %> |
<%= link_to 'Voltar', cadastro_manutencao_rpas_path %>
