<p id="notice"><%= notice %></p>

<h1>Manutenção da RPA</h1>

<table class="table table-bordered table-hover table-condensed table-responsive">
  <thead>
    <tr>
      <th>Nome do responsavel</th>
      <th>Tipo de Controladora do RPA</th>
      <th>Outros Problemas</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @cadastro_manutencao_rpas.each do |cadastro_manutencao_rpa| %>
      <tr>
        <td><%= cadastro_manutencao_rpa.nome_guarnicao %></td>
        <td><%= cadastro_manutencao_rpa.tipo_controladora_rpa %></td>
        <td><%= cadastro_manutencao_rpa.outro_problema %></td>

        <td><%= link_to 'Mostrar', cadastro_manutencao_rpa %></td>
        <td><%= link_to 'Editar', edit_cadastro_manutencao_rpa_path(cadastro_manutencao_rpa) %></td>
        <td><%= link_to 'Excluir', cadastro_manutencao_rpa, method: :delete, data: { confirm: 'Voce tem certeza?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Nova Manutenção de RPA', new_cadastro_manutencao_rpa_path %>
