<p id="notice"><%= notice %></p>

<p>
  <strong>Nome do responsavel:</strong>
  <br>
  <%= @cadastro_manutencao_rpa.nome_guarnicao %>
</p>

<p>
  <strong>Manutenção do rádio:</strong>
  <br>
  <%= @cadastro_manutencao_rpa.manutencao_radio %>
</p>

<p>
  <strong>Manutenção da bússola:</strong>
  <br>
  <%= @cadastro_manutencao_rpa.manutencao_bussola %>
</p>

<p>
  <strong>Manutenção do Acelerometro:</strong>
  <br>
  <%= @cadastro_manutencao_rpa.manutencao_acelerometro %>
</p>

<p>
  <strong>Manutenção do giroscopio:</strong>
  <br>
  <%= @cadastro_manutencao_rpa.manutencao_giroscopio %>
</p>

<p>
  <strong>Manutenção da firmware:</strong>
  <br>
  <%= @cadastro_manutencao_rpa.manutencao_firmware %>
</p>

<p>
  <strong>Manutenção da helice:</strong>
  <br>
  <%= @cadastro_manutencao_rpa.manutencao_helice %>
</p>

<p>
  <strong>Manutenção do protetor da helice:</strong>
  <br>
  <%= @cadastro_manutencao_rpa.manutencao_prot_helice %>
</p>

<p>
  <strong>Manutenção da carcaça:</strong>
  <br>
  <%= @cadastro_manutencao_rpa.manutencao_carcaca %>
</p>

<p>
  <strong>Manutenção do controle remoto:</strong>
  <br>
  <%= @cadastro_manutencao_rpa.manutencao_controle_remoto %>
</p>

<p>
  <strong>Manutenção da Telemetria:</strong>
  <br>
  <%= @cadastro_manutencao_rpa.manutencao_telemetria %>
</p>

<p>
  <strong>Manutenção do GPS:</strong>
  <br>
  <%= @cadastro_manutencao_rpa.manutencao_gps %>
</p>

<p>
  <strong>Manutenção do Gimbal:</strong>
  <br>
  <%= @cadastro_manutencao_rpa.manutencao_gimbal %>
</p>

<p>
  <strong>Tipo de controladora do RPA:</strong>
  <br>
  <%= @cadastro_manutencao_rpa.tipo_controladora_rpa %>
</p>

<p>
  <strong>Outros problemas:</strong>
  <br>
  <%= @cadastro_manutencao_rpa.outro_problema %>
</p>

<%= link_to 'Editar', edit_cadastro_manutencao_rpa_path(@cadastro_manutencao_rpa) %> |
<%= link_to 'Voltar', cadastro_manutencao_rpas_path %>
