<%= form_for(event) do |f| %>
  <% if event.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(event.errors.count, "error") %> prohibited this event from being saved:</h2>

      <ul>
      <% event.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <% render 'layouts/error_messages', object: f.object %>

  <!-- formulário do arquivo events
  OBS: sendo utilizado para a tabela de Eventos-->

  <div class="form-group form-horizontal">
    <label for="">Nome do Evento:</label>
    <br>
    <%= f.text_field :nome_evento %>
  </div>

  <div class="form-group form-horizontal">
    <label for="">Coordenadas geográficas:</label>
    <br>
    <%= f.text_field :coordenada_geo %>
  </div>

  <div class="form-group form-horizontal">
    <label for="">Cidade:</label>
    <br>
    <%= f.text_field :cidade %>
  </div>

  <div class="form-group form-horizontal">
    <label for="">Endereço:</label>
    <br>
    <%= f.text_field :endereco %>
  </div>

  <div class="form-group form-horizontal">
    <label for="">Data:</label>
    <br>
    <%= f.datetime_select :data %>
  </div>

  <div class="form-group form-horizontal">
    <label for="">Duração:</label>
    <br>
    <%= f.text_field :duracao %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
