<p id="notice"><%= notice %></p>

<h1>Eventos</h1>

<table class="table table-bordered table-hover table-condensed table-responsive">
  <thead>
    <tr>
      <th>Nome do evento</th>
      <th>Coordenadas geograficas</th>
      <th>Cidade</th>
      <th>Endereço</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @events.each do |event| %>
      <tr>
        <td><%= event.nome_evento %></td>
        <td><%= event.coordenada_geo %></td>
        <td><%= event.cidade %></td>
        <td><%= event.endereco %></td>
        <td><%= link_to 'Mostrar', event %></td>
        <td><%= link_to 'Editar', edit_event_path(event) %></td>
        <td><%= link_to 'Excluir', event, method: :delete, data: { confirm: 'Você tem certeza?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Novo Evento', new_event_path %>
