<p id="notice"><%= notice %></p>

<p>
  <strong>Nome do evento:</strong>
  <%= @event.nome_evento %>
</p>

<p>
  <strong>Coordenadas geograficas:</strong>
  <%= @event.coordenada_geo %>
</p>

<p>
  <strong>Cidade:</strong>
  <%= @event.cidade %>
</p>

<p>
  <strong>Endereço:</strong>
  <%= @event.endereco %>
</p>

<p>
  <strong>Data:</strong>
  <%= @event.data %>
</p>

<p>
  <strong>Duração:</strong>
  <%= @event.duracao %>
</p>

<%= link_to 'Editar', edit_event_path(@event) %> |
<%= link_to 'Voltar', events_path %>
