<%= form_for(relatorio_plano_de_voo) do |f| %>
  <% if relatorio_plano_de_voo.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(relatorio_plano_de_voo.errors.count, "error") %> prohibited this relatorio_plano_de_voo from being saved:</h2>

      <ul>
      <% relatorio_plano_de_voo.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <% render 'layouts/error_messages', object: f.object %>

  <!-- formulário do arquivo relatorio_plano_de_voos
  OBS: sendo utilizado para a tabela de Relatório de Vôo-->

  <div class="form-group form-horizontal">
    <label for="">Condições relevantes:</label>
    <br>
        <%= f.text_field :condições_relevantes %>
  </div>

  <div class="form-group form-horizontal">
    <label for="">Discrepância observada na missão:</label>
    <br>
      <%= f.text_field :discrep_obser_missao %>
  </div>

  <div class="form-group form-horizontal">
    <label for="">Discrepância anteriores da missão</label>
    <br>
      <%= f.text_field :discrep_anteriores_missao %>
  </div>

  <div class="form-group form-horizontal">
    <label for="">Conclusão:</label>
    <br>
      <%= f.text_field :conclusao %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
