<h1>Editando Relatório de Voo</h1>

<%= render 'form', relatorio_plano_de_voo: @relatorio_plano_de_voo %>

<%= link_to 'Mostrar', @relatorio_plano_de_voo %> |
<%= link_to 'Voltar', relatorio_plano_de_voos_path %>
