<p id="notice"><%= notice %></p>

<h1>Relatórios de Vôo</h1>

<table  class="table table-bordered table-hover table-condensed table-responsive">
  <thead>
    <tr>
      <th>Condições relevantes</th>
      <th>Discrepância observada na missão</th>
      <th>Discrepância anteriores da missão</th>
      <th>Conclusão</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @relatorio_plano_de_voos.each do |relatorio_plano_de_voo| %>
      <tr>
        <td><%= relatorio_plano_de_voo.condições_relevantes %></td>
        <td><%= relatorio_plano_de_voo.discrep_obser_missao %></td>
        <td><%= relatorio_plano_de_voo.discrep_anteriores_missao %></td>
        <td><%= relatorio_plano_de_voo.conclusao %></td>
        <td><%= link_to 'Mostrar', relatorio_plano_de_voo %></td>
        <td><%= link_to 'Editar', edit_relatorio_plano_de_voo_path(relatorio_plano_de_voo) %></td>
        <td><%= link_to 'Excluir', relatorio_plano_de_voo, method: :delete, data: { confirm: 'Voce tem certeza?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Novo Relatorio de Vôo', new_relatorio_plano_de_voo_path %>
