<p id="notice"><%= notice %></p>

<p>
  <strong>Condições relevantes:</strong>
  <br>
  <%= @relatorio_plano_de_voo.condições_relevantes %>
</p>

<p>
  <strong>Discrepância observada na missão:</strong>
  <br>
  <%= @relatorio_plano_de_voo.discrep_obser_missao %>
</p>

<p>
  <strong>Discrepância anteriores da missão</strong>
  <br>
  <%= @relatorio_plano_de_voo.discrep_anteriores_missao %>
</p>

<p>
  <strong>Conclusão:</strong>
  <br>
  <%= @relatorio_plano_de_voo.conclusao %>
</p>


<%= link_to 'Editar', edit_relatorio_plano_de_voo_path(@relatorio_plano_de_voo) %> |
<%= link_to 'Voltar', relatorio_plano_de_voos_path %>
