<%= form_for(cadastro_equipe_rpa) do |f| %>
  <% if cadastro_equipe_rpa.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(cadastro_equipe_rpa.errors.count, "error") %> prohibited this cadastro_equipe_rpa from being saved:</h2>

      <ul>
      <% cadastro_equipe_rpa.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <% render 'layouts/error_messages', object: f.object %>

  <!-- formulário do arquivo cadastro_equipe_rpas
  OBS: sendo utilizado para a tabela de piloto -->

  <div class="form-group form-horizontal">
    <label for="">Plano de Voo:</label>
    <br>
    <%= f.select :plano_de_voo_id, @plano_de_voos.select {|pdv| pdv.id != f.object.id}.collect {|pdv| [pdv.objetivo_operacao.titleize, pdv.id]}, {include_blank:'Selecione o Plano de voo'}, {class:'form-control'} %>
  </div>

  <div class="form-group form-horizontal">
    <label for="">Nome:</label>
    <br>
    <%= f.text_field :nome %>
  </div>

  <div class="form-group form-horizontal">
    <label for="">Tipo da licença do certificado</label>
    <br>
    <%= f.text_field :tipo_licenca_certificado %>
  </div>

  <div class="form-group form-horizontal">
    <label for="">Numero da licença do certificado:</label>
    <br>
    <%= f.number_field :numero_licenca_certificado %>
  </div>

  <div class="form-group form-horizontal">
    <label for="">Anexo da copia do certificado:</label>
    <br>
    <%= f.text_field :anexar_copia %>
  </div>

  <div class="form-group form-horizontal">
    <label for="">Experiência do piloto e observador:</label>
    <br>
    <%= f.text_area :experiencia_pilito_observador %>
  </div>

  <div class="form-group form-horizontal">
    <%= f.submit %>
  </div>
<% end %>
