<p id="notice"><%= notice %></p>

  <p>
    <strong>Nome:</strong>
    <br>
    <%= @cadastro_equipe_rpa.nome %>
  </p>

  <p>
    <strong>Tipo da licença do certificado:</strong>
    <br>
    <%= @cadastro_equipe_rpa.tipo_licenca_certificado %>
  </p>

  <p>
    <strong>Numero da licença do certificado:</strong>
    <br>
    <td><%= @cadastro_equipe_rpa.numero_licenca_certificado %></td>
  </p>

  <p>
    <strong>Anexo da copia do certificado:</strong>
    <br>
    <%= @cadastro_equipe_rpa.anexar_copia %>
  </p>

  <p>
    <strong>Experiência do piloto e observador:</strong>
    <br>
    <%= @cadastro_equipe_rpa.experiencia_pilito_observador %>
  </p>

<%= link_to 'Editar', edit_cadastro_equipe_rpa_path(@cadastro_equipe_rpa) %> |
<%= link_to 'Voltar', cadastro_equipe_rpas_path %>
