<%= form_for(acessorio) do |f| %>
  <% if acessorio.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(acessorio.errors.count, "error") %> prohibited this acessorio from being saved:</h2>

      <ul>
      <% acessorio.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <% render 'layouts/error_messages', object: f.object %>

  <!-- formulário do arquivo acessorios -->

  <div class="form-group form-horizontal">
    <label for="">RPA:</label>
    <br>
    <%= f.select :cadastro_rpa_id, @cadastro_rpas.select {|rpa| rpa.id != f.object.id}.collect {|rpa| [rpa.matricula_rpa.titleize, rpa.id]}, {include_blank:'Selecione a Matrícula da RPA'}, {class:'form-control'} %>
  </div>

  <div class="form-group form-horizontal">
    <label for="">Nome do acessório:</label>
    <br>
    <%= f.text_field :nome %>
  </div>

  <div class="form-group form-horizontal">
    <label for="">Modelo do acessório:</label>
    <br>
    <%= f.text_field :cor %>
  </div>

  <div class="form-group form-horizontal">
    <label for="">Descrição do acessório:</label>
    <br>
    <%= f.text_area :descricao %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
