<p id="notice"><%= notice %></p>

<h1>Acessórios</h1>

<table class="table table-bordered table-hover table-condensed table-responsive">
  <thead>
    <tr>
      <th>Nome do acessório</th>
      <th>Modelo do acessório</th>
      <th>Descrição do acessório</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @acessorios.each do |acessorio| %>
      <tr>
        <td><%= acessorio.nome %></td>
        <td><%= acessorio.cor %></td>
        <td><%= acessorio.descricao %></td>
        <td><%= link_to 'Mostrar', acessorio %></td>
        <td><%= link_to 'Editar', edit_acessorio_path(acessorio) %></td>
        <td><%= link_to 'Excluir', acessorio, method: :delete, data: { confirm: 'Você tem certeza?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Novo Acessório', new_acessorio_path %>
