<p id="notice"><%= notice %></p>

<p>
  <strong>Nome do acessório:</strong>
  <br>
  <%= @acessorio.nome %>
</p>

<p>
  <strong>Modelo do acessório:</strong>
  <br>
  <%= @acessorio.cor %>
</p>

<p>
  <strong>Descrição do acessório:</strong>
  <br>
  <%= @acessorio.descricao %>
</p>

<%= link_to 'Editar', edit_acessorio_path(@acessorio) %> |
<%= link_to 'Voltar', acessorios_path %>
