<%= form_for(plano_de_voo) do |f| %>
  <% if plano_de_voo.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(plano_de_voo.errors.count, "error") %> prohibited this plano_de_voo from being saved:</h2>

      <ul>
      <% plano_de_voo.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <% render 'layouts/error_messages', object: f.object %>

  <!-- formulário do arquivo plano_de_voos
  OBS: sendo utilizado para a tabela de Plano de Vôo-->

  <div class="form-group form-horizontal">
    <label for="">Levantamento de Risco:</label>
    <br>
    <%= f.select :levantamento_risco_id, @levantamento_riscos.select {|lr| lr.id != f.object.id}.collect {|lr| [lr.perimetro_voo.titleize, lr.id]}, {include_blank:'Selecione o Levantamento de risco'}, {class:'form-control'} %>
  </div>

  <div class="form-group form-horizontal">
    <label for="">Tipo de operação:</label>
    <br>
    <%= select("plano_de_voo","tipo_operacao",%w(Publicitario Inspesão Operacional Levantamento-de-Área ), {include_blank:"Selecione"}) %>
  </div>

  <div class="form-group form-inline">
    <label for="">Data do vôo:</label>
    <br>
    <%= f.datetime_select :data_voo %>
  </div>

  <div class="form-group form-inline">
    <label for="">Duração do vôo:</label>
    <br>
    <%= f.text_field :duracao_frequencia_voo %>
  </div>

  <div class="form-group form-inline">
    <label for="">Regra do vôo:</label>
    <br>
    <%= f.text_area :regra_voo %>
  </div>

  <div class="form-group form-inline">
    <label for="objetivooperacao">Objetivo da Operação:</label>
    <br>
    <%= f.text_area :objetivo_operacao %>
  </div>

  <div class="form-group form-inline">
    <label for="">Número da Estação:</label>
    <br>
    <%= f.text_field :numero_estacao %>
  </div>

  <div class="form-group form-inline">
    <label for="">Localização da estação:</label>
    <br>
    <%= f.text_field :localizao_estacao %>
  </div>

  <div class="form-group form-inline">
    <label for="">Procedimento de transferencia:</label>
    <br>
    <%= f.text_area :procedimento_transferencia %>
  </div>

  <div class="form-group form-inline">
    <label for="">Local de decolagem:</label>
    <br>
    <%= f.text_field :local_decolagem %>
  </div>

  <div class="form-group form-inline">
  <label for="">Local de destino:</label>
  <br>
    <%= f.text_field :local_destino %>
  </div>

  <div class="form-group form-inline">
    <label for="">Requisitos de decolagem:</label>
    <br>
    <%= f.text_area :requisitos_decolagem %>
  </div>

  <div class="form-group form-inline">
  <label for="">Requisitos de pouso:</label>
  <br>
    <%= f.text_area :requisitos_pouso %>
  </div>

  <div class="form-group form-inline">
    <label for="">Rota:</label>
    <br>
    <%= f.text_area :rota %>
  </div>

  <div class="form-group form-inline">
    <label for="">Altura do vôo:</label>
    <br>
    <%= f.number_field :altura_voo %>
  </div>

  <div class="form-group form-inline">
  <label for="">Comunicação ATS:</label>
  <br>
    <%= f.text_area :comunicacao_ats %>
  </div>

  <div class="form-group form-inline">
    <label for="">Enlace de pilotagem:</label>
    <br>
    <%= f.text_area :enlace_pilotagem %>
  </div>

  <div class="form-group form-inline">
    <label for="">Comunicação do piloto com observador:</label>
    <br>
    <%= f.text_area :comunicacao_piloto_observador %>
  </div>

  <div class="form-group form-inline">
    <label for="">Segurança:</label>
    <br>
    <%= f.text_field :seguranca %>
  </div>

  <div class="form-group form-inline">
    <label for="">Auxiliar:</label>
    <br>
    <%= f.text_field :auxiliar %>
  </div>

  <div class="form-group form-inline">
    <label for="">Observador:</label>
    <br>
    <%= f.text_field :observador %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
