<p id="notice"><%= notice %></p>

<h1>Planos de Vôo</h1>

<table class="table table-bordered table-hover table-condensed table-responsive">
  <thead>
    <tr>
      <th>Tipo de operação</th>
      <th>Data do vôo</th>
      <th>Numero da estação</th>
      <th>Localização da estação</th>
      <th>Local de decolagem</th>
      <th>Local de destino</th>

      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @plano_de_voos.each do |plano_de_voo| %>
      <tr>
        <td><%= plano_de_voo.tipo_operacao %></td>
        <td><%= plano_de_voo.data_voo %></td>
        <td><%= plano_de_voo.numero_estacao %></td>
        <td><%= plano_de_voo.localizao_estacao %></td>
        <td><%= plano_de_voo.local_decolagem %></td>
        <td><%= plano_de_voo.local_destino %></td>
        <td><%= link_to 'Mostrar', plano_de_voo %></td>
        <td><%= link_to 'Editar', edit_plano_de_voo_path(plano_de_voo) %></td>
        <td><%= link_to 'Excluir', plano_de_voo, method: :delete, data: { confirm: 'Voce tem certeza?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Novo Plano De Voo', new_plano_de_voo_path %>
