<p id="notice"><%= notice %></p>

<p>
  <strong>Tipo de operação:</strong>
  <br>
  <%= @plano_de_voo.tipo_operacao %>
</p>

<p>
  <strong>Data do vôo:</strong>
  <br>
  <%= @plano_de_voo.data_voo %>
</p>

<p>
  <strong>Duração do vôo:</strong>
  <br>
  <%= @plano_de_voo.duracao_frequencia_voo %>
</p>

<p>
  <strong>Regra do vôo:</strong>
  <br>
  <%= @plano_de_voo.regra_voo %>
</p>

<p>
  <strong>Objetivo da Operação:</strong>
  <br>
  <%= @plano_de_voo.objetivo_operacao %>
</p>
<p>
  <strong>Número da estação:</strong>
  <br>
  <%= @plano_de_voo.numero_estacao %>
</p>

<p>
  <strong>Localização da estação:</strong>
  <br>
  <%= @plano_de_voo.localizao_estacao %>
</p>

<p>
  <strong>Procedimento de transferencia:</strong>
  <br>
  <%= @plano_de_voo.procedimento_transferencia %>
</p>

<p>
  <strong>Local de decolagem:</strong>
  <br>
  <%= @plano_de_voo.local_decolagem %>
</p>

<p>
  <strong>Local de destino:</strong>
  <br>
  <%= @plano_de_voo.local_destino %>
</p>

<p>
  <strong>Requisitos de decolagem:</strong>
  <br>
  <%= @plano_de_voo.requisitos_decolagem %>
</p>

<p>
  <strong>Requisitos de pouso:</strong>
  <br>
  <%= @plano_de_voo.requisitos_pouso %>
</p>

<p>
  <strong>Rota:</strong>
  <br>
  <%= @plano_de_voo.rota %>
</p>

<p>
  <strong>Altura do vôo:</strong>
  <br>
  <%= @plano_de_voo.altura_voo %>
</p>

<p>
  <strong>Comunicação ATS:</strong>
  <br>
  <%= @plano_de_voo.comunicacao_ats %>
</p>

<p>
  <strong>Enlace de pilotagem:</strong>
  <br>
  <%= @plano_de_voo.enlace_pilotagem %>
</p>

<p>
  <strong>Comunicação do piloto com observador:</strong>
  <br>
  <%= @plano_de_voo.comunicacao_piloto_observador %>
</p>

<p>
  <strong>Segurança:</strong>
  <br>
  <%= @plano_de_voo.seguranca %>
</p>

<p>
  <strong>Auxiliar:</strong>
  <br>
  <%= @plano_de_voo.auxiliar %>
</p>

<p>
  <strong>Observador:</strong>
  <br>
  <%= @plano_de_voo.observador %>
</p>

<%= link_to 'Editar', edit_plano_de_voo_path(@plano_de_voo) %> |
<%= link_to 'Voltar', plano_de_voos_path %>
