<%= form_for(battery) do |f| %>
  <% if battery.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(battery.errors.count, "error") %> prohibited this battery from being saved:</h2>

      <ul>
      <% battery.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <% render 'layouts/error_messages', object: f.object %>

  <!-- formulário do arquivo batteries
  OBS: sendo utilizado para a tabela de Bateria-->

    <div class="form-group form-horizontal">
      <label for="">RPA:</label>
      <br>
      <%= f.select :cadastro_rpa_id, @cadastro_rpas.select {|rpa| rpa.id != f.object.id}.collect {|rpa| [rpa.matricula_rpa.titleize, rpa.id]}, {include_blank:'Selecione a Matrícula da RPA'}, {class:'form-control'} %>
    </div>

    <div class="form-group form-horizontal">
      <label for="">Serial da bateria:</label>
      <br>
      <%= f.text_field :serial_sigla %>
    </div>

    <div class="form-group form-horizontal">
      <label for="">Modelo da bateria:</label>
      <br>
      <%= f.text_field :modelo %>
    </div>

    <div class="form-group form-horizontal">
      <label for="">Material da bateria:</label>
      <br>
      <%= f.text_field :material %>
    </div>

    <div class="form-group form-horizontal">
      <label for="">Carga da bateria:</label>
      <br>
      <%= f.text_field :carga %>
    </div>

    <div class="form-group form-horizontal">
      <label for="">Potência da bateria:</label>
      <br>
      <%= f.text_field :potencia %>
    </div>

    <div class="form-group form-horizontal">
      <label for="">Tensão da bateria:</label>
      <br>
      <%= f.text_field :tensao %>
    </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
