<p id="notice"><%= notice %></p>

<h1>Baterias</h1>

<table class="table table-bordered table-hover table-condensed table-responsive">
  <thead>
    <tr>
      <th>Serial da bateria</th>
      <th>Modelo da bateria</th>
      <th>Material da bateria</th>
      <th>Carga da bateria</th>
      <th>Potência da bateria</th>
      <th>Tensão da bateria</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @batteries.each do |battery| %>
      <tr>
        <td><%= battery.serial_sigla %></td>
        <td><%= battery.modelo %></td>
        <td><%= battery.material %></td>
        <td><%= battery.carga %></td>
        <td><%= battery.potencia %></td>
        <td><%= battery.tensao %></td>
        <td><%= link_to 'Mostrar', battery %></td>
        <td><%= link_to 'Editar', edit_battery_path(battery) %></td>
        <td><%= link_to 'Excluir', battery, method: :delete, data: { confirm: 'Você tem certeza?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Nova Bateria', new_battery_path %>
