<p id="notice"><%= notice %></p>

<p>
  <strong>Serial da bateria:</strong>
  <br>
  <%= @battery.serial_sigla %>
</p>

<p>
  <strong>Modelo da bateria:</strong>
  <br>
  <%= @battery.modelo %>
</p>

<p>
  <strong>Material da bateria:</strong>
  <br>
  <%= @battery.material %>
</p>

<p>
  <strong>Carga da bateria:</strong>
  <br>
  <%= @battery.carga %>
</p>

<p>
  <strong>Potência da bateria:</strong>
  <br>
  <%= @battery.potencia %>
</p>

<p>
  <strong>Tensão da bateria:</strong>
  <br>
  <%= @battery.tensao %>
</p>

<%= link_to 'Editar', edit_battery_path(@battery) %> |
<%= link_to 'Voltar', batteries_path %>
