<%= form_for(cadastro_rpa) do |f| %>
  <% if cadastro_rpa.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(cadastro_rpa.errors.count, "error") %> prohibited this cadastro_rpa from being saved:</h2>

      <ul>
      <% cadastro_rpa.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

    <% render 'layouts/error_messages', object: f.object %>

    <!-- formulário do arquivo cadastro_rpas
    OBS: sendo utilizado para a tabela Equipamentos(RPA)-->

    <div class="form-group form-horizontal">
      <label for="">Plano de Voo:</label>
      <br>
      <%= f.select :plano_de_voo_id, @plano_de_voos.select {|pdv| pdv.id != f.object.id}.collect {|pdv| [pdv.objetivo_operacao.titleize, pdv.id]}, {include_blank:'Selecione o Plano de voo'}, {class:'form-control'} %>
    </div>

  <div class="form-group form-horizontal">
    <label for="">Fabricante:</label>
    <br>
    <%= f.text_field :fabrica %>
  </div>

  <div class="form-group form-horizontal">
    <label for="">Modelo:</label>
    <br>

    <%= f.text_field :modelo %>
  </div>

  <div class="form-group form-horizontal">
    <label for="">Propulsão:</label>
    <br>
    <%= f.text_field :propulsao %>
  </div>

  <div class="form-group form-horizontal">
  <label for="">Serial:</label>
  <br>
    <%= f.text_field :serial %>
  </div>


    <div class="form-group form-horizontal">
      <label for="">Classe:</label>
      <br>
      <%= f.text_field :classe %>
    </div>

  <div class="form-group form-horizontal">
    <label for="">Descrição do Material:</label>
    <br>
    <%= f.text_area :descricao_material %>
  </div>

  <div class="form-group form-horizontal">
  <label for="">Numero do certificado do requerente:</label>
  <br>
    <%= f.number_field :numero_certificado_requerente %>
  </div>

  <div class="form-group form-horizontal">
    <label for="">Tipo do certificado do requerente:</label>
    <br>
    <%= select("cadastro_rpa","tipo_certificado_requerente",%w(1 2 3 4), {include_blank:"Selecione"}) %>
  </div>

  <div class="form-group form-horizontal">
    <label for="">Anexo do certificado do requerente:</label>
    <br>
    <%= f.text_field :anexar_certificado_requerente %>
  </div>

  <div class="form-group form-horizontal">
    <label for="">Pais de registro da RPA:</label>
    <br>
    <%= f.text_field :pais_registro_rpa %>
  </div>

  <div class="form-group form-horizontal">
    <label for="">Matrícula da RPA:</label>
    <br>
    <%= f.text_field :matricula_rpa %>
  </div>

  <div class="form-group form-horizontal">
    <label for="">Anexo da copia do certificado da RPA:</label>
    <br>
    <%= f.text_field :anexo_copia_certificado_rpa %>
  </div>

  <div class="form-group form-horizontal">
  <label for="">Anexo da copia da matrícula da RPA:</label>
  <br>
    <%= f.text_field :anexo_copia_matricula_rpa %>
  </div>

  <div class="form-group form-horizontal">
    <label for="">Numero do certificado da estação:</label>
    <br>
    <%= f.number_field :num_certificado_estacao %>
  </div>

  <div class="form-group form-horizontal">
    <label for="">Tipo do certificado da estação:</label>
    <br>
    <%= select("cadastro_rpa","tipo_certificado_estacao",%w(1 2 3 4), {include_blank:"Selecione"}) %>
  </div>

  <div class="form-group form-horizontal">
  <label for="">Anexar a licença da estação:</label>
  <br>
    <%= f.text_field :anexar_licensa_estacao %>
  </div>

    <div class="form-group form-horizontal">
      <label for="">Anexar ruido:</label>
      <br>
      <%= f.text_field :anexar_ruido %>
    </div>

    <div class="form-group form-horizontal">
      <label for="">Tipo de Aeronave:</label>
      <br>
      <%= f.text_field :tipo_aeronave %>
    </div>

    <div class="form-group form-horizontal">
      <label for="">Peso máximo de decolagem:</label>
      <br>
      <%= f.text_field :peso_maximo_decolagem %>
    </div>

    <div class="form-group form-horizontal">
      <label for="">Esteria de Turbulencia:</label>
      <br>
      <%= f.text_field :esteria_turbulencia%>
    </div>

    <div class="form-group form-horizontal">
      <label for="">Numero do motor:</label>
      <br>
      <%= f.number_field :numero_motor %>
    </div>

    <div class="form-group form-horizontal">
      <label for="">Tipo do motor:</label>
      <br>
      <%= f.text_field :tipos_motor %>
    </div>

    <div class="form-group form-horizontal">
      <label for="">Dimensões da RPA:</label>
      <br>
      <%= f.text_field :dimensoes_rpa %>
    </div>

    <div class="form-group form-horizontal">
      <label for="">Velocidade máxima da RPA:</label>
      <br>
      <%= f.text_field :velocidade_maxima %>
    </div>

    <div class="form-group form-horizontal">
      <label for="">Velocidade mínima da RPA:</label>
      <br>
      <%= f.text_field :velocidade_minima %>
    </div>

    <div class="form-group form-horizontal">
      <label for="">Velocidade cruzeiro da RPA:</label>
      <br>
      <%= f.text_field :velocidade_cruzeiro %>
    </div>

    <div class="form-group form-horizontal">
      <label for="">Razões de subida máxima da RPA:</label>
      <br>
      <%= f.text_area :razoes_subida_maxima %>
    </div>

    <div class="form-group form-horizontal">
      <label for="">Razões de descida máxima da RPA:</label>
      <br>
      <%= f.text_area :razoes_descida_maxima %>
    </div>

    <div class="form-group form-horizontal">
      <label for="">Autonomia máxima da RPA:</label>
      <br>
      <%= f.text_field :autonomia_maxima %>
    </div>

    <div class="form-group form-horizontal">
      <label for="">Capacidade de detectar e desviar da RPA:</label>
      <br>
      <%= f.text_area :capacidade_detectar_evitar %>
    </div>

    <div class="form-group form-horizontal">
      <label for="">Carga útil:</label>
      <br>
      <%= f.text_area :carga_util %>
    </div>

    <div class="form-group form-horizontal">
      <label for="">Enlace de dados:</label>
      <br>
      <%= f.text_area :enlace_dados_carga %>
    </div>

    <div class="form-group form-horizontal">
      <label for="">Numero do seguro da RPA:</label>
      <br>
      <%= f.text_area :numero_seguro %>
    </div>

    <div class="form-group form-horizontal">
      <label for="">Tipo da CNS:</label>
      <br>
      <%= f.text_area :tipo_cns%>
    </div>

    <div class="form-group form-horizontal">
      <label for="">Telefonia da CNS:</label>
      <br>
      <%= f.text_area:telefonia_cns %>
    </div>

    <div class="form-group form-horizontal">
      <label for="">Navegação da CNS:</label>
      <br>
      <%= f.text_area :navegacao_cns %>
    </div>

    <div class="form-group form-horizontal">
      <label for="">Vigilância da CNS:</label>
      <br>
      <%= f.text_area :vigilancia_cns %>
    </div>

    <div class="form-group form-horizontal">
      <label for="">Modo de Transpoder:</label>
      <br>
      <%= f.text_area :modo_cns %>
    </div>

    <div class="form-group form-horizontal">
      <label for="">Outras formas de CNS:</label>
      <br>
      <%= f.text_area :outros_cns %>
    </div>

    <div class="form-group form-horizontal">
      <label for="">Outros dados da RPA:</label>
      <br>
      <%= f.text_area :outros_dados %>
    </div>

  <div class="actions">
    <%= f.submit %>
  </div>

<% end %>
