<p id="notice"><%= notice %></p>

<p>
  <strong>Fabricante:</strong>
  <br>
  <%= @cadastro_rpa.fabrica %>
</p>

<p>
  <strong>Modelo:</strong>
  <br>
  <%= @cadastro_rpa.modelo %>
</p>

<p>
  <strong>Propulsão:</strong>
  <br>
  <%= @cadastro_rpa.propulsao %>
</p>

<p>
  <strong>Serial:</strong>
  <br>
  <%= @cadastro_rpa.serial %>
</p>

<p>
  <strong>Classe:</strong>
  <br>
  <%= @cadastro_rpa.classe %>
</p>

<p>
  <strong>Descrição do material:</strong>
  <br>
  <%= @cadastro_rpa.descricao_material %>
</p>

<p>
  <strong>Numero do certificado do requerente:</strong>
  <br>
  <%= @cadastro_rpa.numero_certificado_requerente %>
</p>

<p>
  <strong>Tipo do certificado do requerente:</strong>
  <br>
  <%= @cadastro_rpa.tipo_certificado_requerente %>
</p>

<p>
  <strong>Anexo do certificado do requerente:</strong>
  <br>
  <%= @cadastro_rpa.anexar_certificado_requerente %>
</p>

<p>
  <strong>Pais de registro da RPA:</strong>
  <br>
  <%= @cadastro_rpa.pais_registro_rpa %>
</p>

<p>
  <strong>Matrícula da RPA:</strong>
  <br>
  <%= @cadastro_rpa.matricula_rpa %>
</p>

<p>
  <strong>Anexo da copia do certificado da RPA:</strong>
  <br>
  <%= @cadastro_rpa.anexo_copia_certificado_rpa %>
</p>

<p>
  <strong>Anexo da copia da matrícula da RPA:</strong>
  <br>
  <%= @cadastro_rpa.anexo_copia_matricula_rpa %>
</p>

<p>
  <strong>Numero do certificado da estação:</strong>
  <br>
  <%= @cadastro_rpa.num_certificado_estacao %>
</p>

<p>
  <strong>Tipo do certificado da estação:</strong>
  <br>
  <%= @cadastro_rpa.tipo_certificado_estacao %>
</p>

<p>
  <strong>Anexar a licença da estação:</strong>
  <br>
  <%= @cadastro_rpa.anexar_licensa_estacao %>
</p>

<p>
  <strong>Anexar ruido:</strong>
  <br>
  <%= @cadastro_rpa.anexar_ruido %>
</p>

<p>
  <strong>Tipo de Aeronave:</strong>
  <br>
  <%= @cadastro_rpa.tipo_aeronave %>
</p>

<p>
  <strong>Peso máximo de decolagem:</strong>
  <br>
  <%= @cadastro_rpa.peso_maximo_decolagem  %>
</p>

<p>
  <strong>Esteria de Turbulencia:</strong>
  <br>
  <%= @cadastro_rpa.esteria_turbulencia %>
</p>

<p>
  <strong>Numero do motor:</strong>
  <br>
  <%= @cadastro_rpa.numero_motor %>
</p>

<p>
  <strong>Tipo do motor:</strong>
  <br>
  <%= @cadastro_rpa.tipos_motor %>
</p>

<p>
  <strong>Dimensões da RPA:</strong>
  <br>
  <%= @cadastro_rpa.dimensoes_rpa %>
</p>

<p>
  <strong>Velocidade máxima da RPA:</strong>
  <br>
  <%= @cadastro_rpa.velocidade_maxima %>
</p>

<p>
  <strong>Velocidade mínima da RPA:</strong>
  <br>
  <%= @cadastro_rpa.velocidade_minima %>
</p>

<p>
  <strong>Velocidade cruzeiro da RPA:</strong>
  <br>
  <%= @cadastro_rpa.velocidade_cruzeiro %>
</p>

<p>
  <strong>Razões de subida máxima da RPA:</strong>
  <br>
  <%= @cadastro_rpa.razoes_subida_maxima %>
</p>

<p>
  <strong>Razões de descida máxima da RPA:</strong>
  <br>
  <%= @cadastro_rpa.razoes_descida_maxima %>
</p>

<p>
  <strong>Autonomia máxima da RPA:</strong>
  <br>
  <%= @cadastro_rpa.autonomia_maxima %>
</p>

<p>
  <strong>Capacidade de detectar e desviar da RPA:</strong>
  <br>
  <%= @cadastro_rpa.capacidade_detectar_evitar %>
</p>

<p>
  <strong>Carga útil:</strong>
  <br>
  <%= @cadastro_rpa.carga_util %>
</p>

<p>
  <strong>Enlace de dados:</strong>
  <br>
  <%= @cadastro_rpa.enlace_dados_carga %>
</p>

<p>
  <strong>Numero do seguro da RPA:</strong>
  <br>
  <%= @cadastro_rpa.numero_seguro %>
</p>

<p>
  <strong>Tipo da CNS:</strong>
  <br>
  <%= @cadastro_rpa.tipo_cns %>
</p>

<p>
  <strong>Telefonia da CNS:</strong>
  <br>
  <%= @cadastro_rpa.telefonia_cns %>
</p>

<p>
  <strong>Navegação da CNS:</strong>
  <br>
  <%= @cadastro_rpa.navegacao_cns %>
</p>

<p>
  <strong>Navegação da CNS:</strong>
  <br>
  <%= @cadastro_rpa.navegacao_cns %>
</p>

<p>
  <strong>Modo de transpoder:</strong>
  <br>
  <%= @cadastro_rpa.modo_cns %>
</p>

<p>
  <strong>Outras formas de CNS:</strong>
  <br>
  <%= @cadastro_rpa.outros_cns %>
</p>

<p>
  <strong>Outros dados da RPA:</strong>
  <br>
  <%= @cadastro_rpa.outros_dados %>
</p>
<%= link_to 'Editar', edit_cadastro_rpa_path(@cadastro_rpa) %> |
<%= link_to 'Voltar', cadastro_rpas_path %>
