<!-- Left side column. contains the logo and sidebar -->
<aside class="main-sidebar">
  <!-- sidebar: style can be found in sidebar.less -->
  <section class="sidebar">
    <!-- Sidebar user panel -->

              <ul class="sidebar-menu">

            <!-- Botão que redireciona para o index do arquivo events -->
                    <li class="treeview pull-left">
                        <%= link_to  events_path  do %>
                        <i class="fa fa-magic"></i> Eventos
                      <% end %>
                    </li>

            <!-- Botão que redireciona para o index do arquivo levantamento_riscos -->
                    <li class="treeview pull-left">
                      <%= link_to  levantamento_riscos_path do %>
                      <i class="fa fa-rocket"></i> Levantamento de Riscos
                      <% end %>
                    </li>
            <!-- Botão que redireciona para o index do arquivo plano_de_voos -->
                    <li class="treeview pull-left">
                      <%= link_to plano_de_voos_path do %>
                      <i class="fa fa-map-o"></i> Planos de Vôo
                      <% end %>
                    </li>

            <!-- Botão que redireciona para o index do arquivo cadastro_equipe_rpas -->
                    <li class="treeview pull-left">
                      <%= link_to  cadastro_equipe_rpas_path  do %>
                      <i class="fa fa-users"></i> Pilotos da RPA
                      <% end %>
                    </li>

            <!-- Botão que redireciona para o index do arquivo cadastro_rpas -->
                    <li class="treeview pull-left">
                      <%= link_to  cadastro_rpas_path  do %>
                        <i class="fa fa-fighter-jet"></i> Equipamentos(RPA)
                      <% end %>
                    </li>

            <!-- Botão que redireciona para o index do arquivo acessorios -->
                    <li class="treeview pull-left">
                      <%= link_to  acessorios_path do %>
                        <i class="fa fa-binoculars"></i> Acessórios da RPA
                      <% end %>
                    </li>

            <!-- Botão que redireciona para o index do arquivo batteries -->
                    <li class="treeview pull-left">
                      <%= link_to batteries_path do %>
                        <i class="fa fa-battery-three-quarters"></i> Baterias da RPA
                      <% end %>
                    </li>

            <!-- Botão que redireciona para o index do arquivo cadastro_manutencao_rpas -->
                    <li class="treeview pull-left">
                      <%= link_to  cadastro_manutencao_rpas_path do %>
                        <i class="fa fa-cogs"></i> Manutenção da RPA
                      <% end %>
                    </li>

            <!-- Botão que redireciona para o index do arquivo relatorio_plano_de_voos -->
                    <li class="treeview pull-left">
                      <%= link_to relatorio_plano_de_voos_path do %>
                      <i class="fa fa-file-text"></i> Relatórios do Vôo
                      <% end %>
                    </li>

            <!-- Botão que redireciona para o index do arquivo cadastro_unidade_rpas -->
                    <li class="treeview pull-left">
                      <%= link_to cadastro_unidade_rpas_path do %>
                        <i class="fa fa-building-o"></i> Unidades de RPA
                      <% end %>
                    </li>

            <!-- Botão que redireciona para o index do arquivo autorizacao_voos -->
                    <li class="treeview pull-left">
                      <%= link_to autorizacao_voos_path do %>
                        <i class="fa fa-check-square"></i> Parecer de Voo
                      <% end %>
                    </li>

</ul>
    <!-- Menu goes here -->

    <ul class="sidebar-menu">

      <!-- BEGIN - MODULO RECURSOS HUMANOS -->
      <% if current_user.has_permission?('administrador') %>
      <li class="treeview <%= 'active' if controller?('users') %>">
        <a href="#">
          <i class="fa fa-users"></i>
          <span>Recursos Humanos</span>
          <i class="fa fa-angle-left pull-right"></i>
        </a>
        <ul class="treeview-menu">
          <li>
            <%= link_to users_path do %>
              <i class="fa fa-circle-o"></i> Consultar Servidor
            <% end %>
          </li>
          <li>
            <%= link_to new_user_path do %>
              <i class="fa fa-circle-o"></i> Cadastrar Servidor
            <% end %>
          </li>
          <li><a href="#"><i class="fa fa-circle-o"></i> Relatórios</a></li>
        </ul>
      </li>

      <li class="treeview <%= 'active' if controller?('units') %>">
        <a href="#">
          <i class="fa fa-university"></i>
          <span>Unidades Militares</span>
          <i class="fa fa-angle-left pull-right"></i>
        </a>
        <ul class="treeview-menu">
          <li>
            <%= link_to units_path do %>
              <i class="fa fa-circle-o"></i> Listar Unidades
            <% end %>
          </li>
          <li>
            <%= link_to new_unit_path do %>
              <i class="fa fa-circle-o"></i> Cadastrar Unidade
            <% end %>
          </li>
        </ul>
      </li>

      <% end %>
      <!-- END - MODULO RECURSOS HUMANOS -->


      <!-- BEGIN - MODULO ADMINISTRADOR DA APLICAÇÃO -->
      <% if current_user.has_permission?('administrador') %>
      <li class="treeview <%= 'active' if controller?('permissions') %>">
        <a href="#">
          <i class="fa fa-unlock-alt"></i>
          <span>Controle de Papeis</span>
          <i class="fa fa-angle-left pull-right"></i>
        </a>
        <ul class="treeview-menu">
          <li>
            <%= link_to permissions_path do %>
              <i class="fa fa-circle-o"></i> Consultar Papeis
            <% end %>
          </li>
          <li>
            <%= link_to new_permission_path do %>
              <i class="fa fa-circle-o"></i> Cadastrar Papel
            <% end %>
          </li>
        </ul>
      </li>

      <% end %>
      <!-- END - MODULO ADMINISTRADOR DO SISTEMA -->

    </ul>

    <!-- end - menu -->

  </section>
  <!-- /.sidebar -->
</aside>
